
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(https://thumbs.dreamstime.com/b/language-translator-banner-hand-draw-doodle-backgrou-background-concept-translating-agency-interpreting-129576040.jpg) ;
    background-size: cover ;

}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(115, 119, 117);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #181414;
}

.language-selection, .input-area, .output-area {
    margin-bottom: 20px;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #080606;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #cad8da;
    color: rgb(219, 236, 236);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    

button:hover {
    background-color: #218838;
}
